<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swkj.smart.market.regulation.sysmanage.mapper.SysRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.swkj.smart.market.regulation.model.SysRole">
    <result column="id" property="id" />
        <result column="role_name" property="roleName" />
        <result column="remark" property="remark" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="last_update_by" property="lastUpdateBy" />
        <result column="last_update_time" property="lastUpdateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        role_name, remark, create_by, create_time, last_update_by, last_update_time
    </sql>
    <select id="findByRoleName" resultType="com.swkj.smart.market.regulation.model.SysRole">
        select <include refid="Base_Column_List"/> from sys_role where role_name = #{roleName};
    </select>
    <select id="findUserRoles" resultType="com.swkj.smart.market.regulation.model.SysRole">
     select r.* from sys_user u,sys_user_role ur,sys_role r where r.id = ur.role_id and ur.user_id = u.id and u.id = #{userId}
    </select>
    <select id="findUserByMobile" resultMap="BaseResultMap">
        select r.* from sys_role r,sys_user_role ur,sys_user u where r.id = ur.role_id and ur.user_id = u.id and u.mobile = #{mobile};
    </select>
</mapper>
